'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Turbo Brackets'
      'submenu': [
        {'label': 'End line and return', 'command': 'turbo-brackets:end-new-line'}
        {'label': 'End line with semicolon', 'command': 'turbo-brackets:end-line'}
        {'label': 'End line with comma', 'command': 'turbo-brackets:end-line-comma'}
        {'label': 'Insert or remove curly brackets', 'command': 'turbo-brackets:c-wrap-block'}
        {'label': 'Insert or remove square brackets', 'command': 'turbo-brackets:s-wrap-block'}
      ]
    ]
  }
]
